
<div class="grid">
    <div class="col-12 md:col-12 mt-6 md:mt-6">
        <p-card header="Applicant List">
               
            <p-table selectionMode="single" [value]="applicants" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>NIK</th>
                        <th>Job Title</th>
                        <th>Stage</th>
                        <th>Applied Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-applicants let-rowIndex="rowIndex">
                    <tr (click)="navigateToId(applicants.applicantId)">
                        <td>{{rowIndex+1}}</td>
                        <td>{{ applicants.candidateName }}</td>
                        <td>{{ applicants.candidateEmail }}</td>
                        <td>{{ applicants.candidateNik }}</td>
                        <td>{{ applicants.jobTitle }}</td>
                        <td>{{ applicants.currentStage }}</td>     
                        <td>{{ applicants.appliedDate }}</td>                  
                    </tr>                                       
                </ng-template>
            </p-table>
        </p-card>         
    </div>
</div>    

