<!-- <p-splitter [panelSizes]="[30, 70]" [style]="{ height: '100vh' }" styleClass="mb-5">
    <ng-template pTemplate class="mx-4">
        <p-scroller [items]="items" [itemSize]="50" scrollHeight="100vh" styleClass="border-1 surface-border"
           >
            <ng-template pTemplate="item" let-item let-options="options">
                <p-card header="Job Vacancy" subheader="Card Subheader" [style]="{ width: '25rem' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione
                        quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                </p-card>
            </ng-template>
        </p-scroller>
    </ng-template>
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">Panel 2</div>
    </ng-template>
</p-splitter> -->

<div class="grid mt-2">
    <div class="col">
        <p-card  [style]="{ height: '100vh' }" >
            <div class="grid">
                <div class="col md:col-4">
                    <h3>Job List</h3>
                    
                    
                </div>
                <div class="col md:col-8">
                    <h3>Job Detail</h3>
                </div>
            </div>
        </p-card>
    </div>
    
</div>
