<!--START CONTENT -->
<!-- <div>
    <div class="grid">
        <main class="md:col-9 md:mt-5 mt-5 mx-3">
            <h1>Hello, {{fullname}}</h1>           
        </main>
    </div>
</div> -->

<div class="grid">
    <div class="col-12 md:col-2 md:col-offset-1 mt-8 md:mt-8">
        <ng-container *ngIf="totalCandidate">
            <p-card>
                <div class="flex text-aligns-center justify-content-center">
                    <p-avatar icon="pi pi-users" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"></p-avatar>                   
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        {{totalCandidate.total}}
                    </span>
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-base mt-3 md:mt-3">
                        Total Candidate
                    </span>
                </div>
            </p-card>
        </ng-container>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <ng-container *ngIf="totalApplicant">
            <p-card>
                <div class="flex text-aligns-center justify-content-center">
                    <p-avatar icon="pi pi-id-card" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"></p-avatar>                   
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        {{totalApplicant.total}}
                    </span>
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-base mt-3 md:mt-3">
                        Total Applicant
                    </span>
                </div>
            </p-card>
        </ng-container>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <ng-container *ngIf="totalCompany">
            <p-card>
                <div class="flex text-aligns-center justify-content-center">
                    <p-avatar icon="pi pi-building" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"></p-avatar>                   
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        {{totalCompany.total}}
                    </span>
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-base mt-3 md:mt-3">
                        Total Company
                    </span>
                </div>
            </p-card>
        </ng-container>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <ng-container *ngIf="totalJobVacancy">
            <p-card>
                <div class="flex text-aligns-center justify-content-center">
                    <p-avatar icon="pi pi-briefcase" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"></p-avatar>                   
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        {{totalJobVacancy.total}}
                    </span>
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-base mt-3 md:mt-3">
                        Total Job Vacancy
                    </span>
                </div>
            </p-card>
        </ng-container>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <ng-container *ngIf="totalUser">
            <p-card>
                <div class="flex text-aligns-center justify-content-center">
                    <p-avatar icon="pi pi-desktop" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"></p-avatar>                   
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        {{totalUser.total}}
                    </span>
                </div>
                <div class="flex text-aligns-center justify-content-center">
                    <span class="text-base mt-3 md:mt-3">
                        Total User Admin
                    </span>
                </div>
            </p-card>
        </ng-container>
    </div>
</div>
<!--END CONTENT -->