<!--START CONTENT -->
<!-- <div>
    <div class="grid">
        <main class="md:col-9 md:mt-5 mt-5 mx-3">
            <h1>Hello, {{fullname}}</h1>           
        </main>
    </div>
</div> -->

<div class="grid">
    <div class="col-12 md:col-2 md:col-offset-1 mt-8 md:mt-8">
        <p-card>
            <div class="flex text-aligns-center justify-content-center">
                <div class="flex flex-column">
                    <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" 
                        styleClass="ml-2" 
                        shape="circle"></p-avatar>
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        56
                    </span>                    
                </div>                               
            </div>   
            <div class="flex text-aligns-center justify-content-center">
                <span class="text-base mt-3 md:mt-3">
                    Total Candidate
                </span>
            </div>           
        </p-card>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <p-card>
            <div class="flex text-aligns-center justify-content-center">
                <div class="flex flex-column">
                    <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" 
                        styleClass="ml-2" 
                        shape="circle"></p-avatar>
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        56
                    </span>                    
                </div>                               
            </div>   
            <div class="flex text-aligns-center justify-content-center">
                <span class="text-base mt-3 md:mt-3">
                    Total Candidate
                </span>
            </div>           
        </p-card>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <p-card>
            <div class="flex text-aligns-center justify-content-center">
                <div class="flex flex-column">
                    <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" 
                        styleClass="ml-2" 
                        shape="circle"></p-avatar>
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        56
                    </span>                    
                </div>                               
            </div>   
            <div class="flex text-aligns-center justify-content-center">
                <span class="text-base mt-3 md:mt-3">
                    Total Candidate
                </span>
            </div>           
        </p-card>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <p-card>
            <div class="flex text-aligns-center justify-content-center">
                <div class="flex flex-column">
                    <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" 
                        styleClass="ml-2" 
                        shape="circle"></p-avatar>
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        56
                    </span>                    
                </div>                               
            </div>   
            <div class="flex text-aligns-center justify-content-center">
                <span class="text-base mt-3 md:mt-3">
                    Total Candidate
                </span>
            </div>           
        </p-card>
    </div>
    <div class="col-12 md:col-2 mt-8 md:mt-8">
        <p-card>
            <div class="flex text-aligns-center justify-content-center">
                <div class="flex flex-column">
                    <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" 
                        styleClass="ml-2" 
                        shape="circle"></p-avatar>
                    <span class="text-5xl font-bold mt-3 md:mt-3">
                        56
                    </span>                    
                </div>                               
            </div>   
            <div class="flex text-aligns-center justify-content-center">
                <span class="text-base mt-3 md:mt-3">
                    Total Job Vacancy
                </span>
            </div>           
        </p-card>
    </div>
</div>
<!--END CONTENT -->