<div class="grid">
    <div class="col-12 md:col-6">
        <div class="background">
            <img src="../../../assets/images/loginBanner.jpeg" alt="" [style]="{width:'49.4vw', height: '100vh'}">
            <div class="layer">
                <div class="grid">
                    <div class="col-12 md:col-10 md:col-offset-1 ">
                        <div class="flex flex-column text-white">
                            <span class="mb-2 md:mb-2 text-justify" style="font-family: Georgia, serif;">
                                Without ambition one starts nothing. Without work one finishes nothing.
                                The prize will not be sent to you. You have to win it.
                            </span>
                            <span class="font-bold">
                                - Ralph Waldo Emerson
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col md:col-6">
        <a routerLink="/login" style="text-decoration: none;">
            <div class="flex flex-row mt-3 md:mt-3 ml-3 md:ml-3 text-color-secondary">
                <i class="pi pi-angle-left" style="font-size: 1.5rem"></i>
                <span class="text-lg font-bold">
                    Back
                </span>
            </div>
        </a>
        <div class="center-screen">
            <form [formGroup]="registerReq" (ngSubmit)="onRegister()">
                <div class="p-fluid">
                    <div class="field">
                        <div class="flex flex-row">
                            <span style="font-size: xx-large;">
                                Register to
                            </span>
                            <span class="ml-2" style="font-size: xx-large; color: #0A4C86;">
                                yuk
                            </span>
                            <span style="font-size: xx-large;">
                                -
                            </span>
                            <span style="font-size: xx-large; color: #0A4C86;">
                                Kerja
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="text-color-secondary" for="fullname">Fullname</label>
                        <input pInputText id="fullname" type="text" formControlName="fullName" />
                    </div>
                    <div class="field">
                        <label class="text-color-secondary" for="email">E-mail</label>
                        <input pInputText id="email" type="text" formControlName="email" />
                    </div>
                    <div class="field">
                        <label class="text-color-secondary" for="password">Password</label>
                        <input pInputText id="password" type="password" formControlName="password" />
                    </div>              
                    <p-button  styleClass="sigin-button" type="submit" label="Register Account"
                        [loading]="loading"></p-button>

                    <div class="flex flex-row mt-2 md:mt-2 text-lg">
                        <span class="text-color-secondary">
                            Already have an account?
                        </span>

                        <a routerLink="/login" style="text-decoration: none;">
                            <span class="ml-2 md:ml-2" style="color: #0A4C86;">
                                Sign In
                            </span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>