<div class="grid mb-5">
    <div class="col-10 col-offset-1 mt-8 md:mt-8">
        <p-panel header="My Profile">
            <form [formGroup]="userUpdateReq" (ngSubmit)="onUpdate()">
                <div class="grid">
                    <div class="col-12 md:col-8">
                        <div *ngIf="userDetailRes">
                            <div class="flex flex-row">
                                <span>
                                    <div class="relative">
                                        <div class="static">
                                            <div [style]="{width: '8rem', height: '8rem'}">
                                                <img *ngIf="!newPhoto" [style]="{width: '7rem', height: '7rem'}"
                                                    [src]="imageUrl" alt="" (error)="setDefaultPic()">
                                                <img *ngIf="newPhoto" [style]="{width: '7rem', height: '7rem'}"
                                                    [src]="newPhoto" alt="" (error)="setDefaultPic()">
                                            </div>
                                            <div class="absolute bottom-0 right-0">
                                                <span>
                                                    <p-fileUpload #fileM (onSelect)="updatePhoto($event,fileM)"
                                                        [auto]="true" chooseIcon="pi pi-pencil" mode="basic"
                                                        styleClass="edit-profile-button p-button-rounded p-button-info">
                                                    </p-fileUpload>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <span class="font-bold text-lg mx-3 md:mx-8 mt-3">
                                    {{userDetailRes.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3 col-offset-1 mt-3">
                        <div class="flex flex-row">
                            <p-button styleClass="edit-profile-button mx-2 md:mx-2"
                                routerLink="/candidate/profile">Cancel</p-button>
                            <p-button type="submit" styleClass="save-profile-button">Save Change</p-button>
                        </div>
                    </div>
                    <div class="col">
                        <span class="font-bold text-xl">
                            Profile Detail
                        </span>
                        <p-divider></p-divider>

                        <div class="grid text-base">
                            <div class="col-12 md:col-6">
                                <div class="flex flex-column">
                                    <div class="grid">
                                        <div class="col-12 md:col-3">
                                            <Label>Name</Label>
                                        </div>
                                        <div class="col-12 md:col-7">
                                            <input formControlName="name" class="p-inputtext-sm" pInputText type="text">
                                        </div>
                                        <div class="col-12 md:col-3">
                                            <Label>NIK</Label>
                                        </div>
                                        <div class="col-12 md:col-9">
                                            <input formControlName="nik" class="p-inputtext-sm" pKeyFilter="int"
                                                pInputText type="text">
                                        </div>
                                        <div class="col-12 md:col-3">
                                            <Label>Phone</Label>
                                        </div>
                                        <div class="col-12 md:col-9">
                                            <input formControlName="phone" class="p-inputtext-sm" pKeyFilter="int"
                                                pInputText type="text">
                                        </div>
                                        <div class="col-12 md:col-3">
                                            <Label>E-mail</Label>
                                        </div>
                                        <div class="col-12 md:col-9">
                                            <input disabled *ngIf="userDetailRes" [value]="userDetailRes.email"
                                                class="p-inputtext-sm" pInputText type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="flex flex-column">
                                    <div class="grid">
                                        <div class="col-12 md:col-4">
                                            <Label>Birth Date</Label>
                                        </div>
                                        <div class="col-12 md:col-7">
                                            <p-calendar (onSelect)="birthDate($event)" dateFormat="yy-mm-dd"
                                                formControlName="birthDate" class="p-inputtext-sm" [touchUI]="true"
                                                [readonlyInput]="true"></p-calendar>
                                        </div>
                                        <div class="col-12 md:col-4">
                                            <Label>Birth Place</Label>
                                        </div>
                                        <div class="col-12 md:col-7">
                                            <input formControlName="birthPlace" class="p-inputtext-sm" pInputText
                                            type="text">
                                        </div>
                                        <div class="col-12 md:col-4">
                                            <Label>Experience Year</Label>
                                        </div>
                                        <div class="col-12 md:col-7">
                                            <input formControlName="experienceYear" pKeyFilter="int"
                                            class="p-inputtext-sm" pInputText type="text">
                                        </div>
                                        <div>

                                        </div>
                                        <div class="col-12 md:col-4">
                                            <Label>Salary Expectation</Label>
                                        </div>
                                        <div class="col-12 md:col-7">
                                            <input formControlName="salaryExpectation" pKeyFilter="num"
                                            class="p-inputtext-sm" pInputText type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <span class="font-bold text-xl">
                            Resume
                        </span>
                        <div class="mt-2">
                            <p-card>
                                <div class="grid">
                                    <div class="col-12 md:col-3">
                                        <div class="flex flex-row">
                                            <div class="flex flex-column">
                                                <i class="pi pi-file-pdf" style="font-size: 4rem"></i>
                                                <span class="mx-3">PDF</span>
                                            </div>
                                            <div class="mx-3 mt-2">
                                                <div class="flex flex-column">
                                                    <span class="font-bold text-base mt-2">Resume.{{userDetailRes.resume.fileFormat}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-3 md:col-offset-6">

                                        <p-fileUpload mode="basic" chooseLabel="Update Resume"
                                            url="https://www.primefaces.org/cdn/api/upload.php"
                                            styleClass="edit-profile-button" chooseIcon="null"
                                            (onSelect)="updateResume($event)"></p-fileUpload>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </div>
            </form>
        </p-panel>
        <pre>{{userUpdateReq.value | json}}</pre>
    </div>
</div>