
<div class="grid mt-3">
    <div class="col-12">
        <p-card header="Candidate List">
            <div class="grid">
                <div class="col-12 flex flex-row-reverse">
                    <p-button class="mx-2 md:mx-2" icon="pi pi-plus" label="Add" styleClass="p-button-success"></p-button>
                    <p-button (click)="onSelect()" [disabled]="checkCandidate()"  icon="pi pi-plus" label="Add to Vacancy" styleClass="p-button-success"></p-button>
                </div>
           
                <div class="col">
                    
                </div>
            </div>       
            <p-table [value]="candidates" [(selection)]="selectedCandidate" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"></th>
                        <th>No.</th>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Experience Year</th> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-candidates let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableRadioButton [value]="candidates"></p-tableRadioButton>
                        </td>
                        <td>{{rowIndex+1}}</td>
                        <td>{{ candidates.nik }}</td>
                        <td>{{ candidates.name }}</td>
                        <td>{{ candidates.email }}</td>
                        <td>{{ candidates.phone }}</td>
                        <td>{{ candidates.experienceYear }}</td> 
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>
<!-- <pre>{{selectedCandidate.value | json}}</pre> -->
<pre>{{applicantInsertReqDto.value | json}}</pre>