<div class="grid">
    <div class="col-12 md:col-10 md:col-offset-1 mt-7 md:mt-7">
        <p-card header="Applicant Detail">
                <p-divider></p-divider>
                <ng-container *ngIf="candidate">
                    <div class="grid">
                        <div class="col-12 md:col-2">
                            <div class="flex flex-column">
                                <img [style]="{width: '10rem', height: '10rem'}"
                                src="http://localhost:8080/admin/file/{{candidate.photoId}}"
                                alt=""> 
                                <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                                <p-button *ngIf="stageApplication" (click)="confirmMoveToAssessment()" [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2" styleClass="p-button-sm p-button-success justify-content-center" >
                                    <span class="text-xs font-bold ">Move to Assessement</span>
                                </p-button> 
                                <p-button *ngIf="stageAssessement" (click)="insertInterviewModal()" [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2" styleClass="p-button-sm p-button-success justify-content-center" >
                                    <span class="text-xs font-bold">Move to Interview</span>
                                </p-button> 
                                <p-button *ngIf="stageInterview" [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2" styleClass="p-button-sm p-button-success justify-content-center" >
                                        <span class="text-xs font-bold">Move to MCU</span>
                                </p-button> 
                                <p-button *ngIf="stageMcu" [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2" styleClass="p-button-sm p-button-success justify-content-center" >
                                    <span class="text-xs font-bold">Move to Offer</span>
                                </p-button> 
                                <p-button *ngIf="stageOffer" [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2" styleClass="p-button-sm p-button-success justify-content-center" >
                                    <span class="text-xs font-bold">Move to Hired</span>
                                </p-button> 
                            </div>               
                        </div>
                        <div class="col-12 md:col-5">
                            <div class="grid">
                                <div class="col-12 md:col-3">
                                    <Label>NIK</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input disabled [value]="candidate.nik" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>Name</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input disabled [value]="candidate.name"
                                     class="p-inputtext-sm font-bold " 
                                     pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>E-mail</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input disabled [value]="candidate.email" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>Phone</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input disabled [value]="candidate.phone" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div>                           
                            </div>
                        </div>
                        <div class="col-12 md:col-5">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <Label>Birth Date</Label>
                                </div>
                                <div class="col-12 md:col-6">
                                    <input disabled [value]="candidate.birthDate" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-4">
                                    <Label>Birth Place</Label>
                                </div>
                                <div class="col-12 md:col-6">
                                    <input disabled [value]="candidate.birthPlace" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-4">
                                    <Label>Experience Year</Label>
                                </div>
                                <div class="col-12 md:col-6">
                                    <input disabled [value]="candidate.experienceYear" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-4">
                                    <Label>Salary Expectation</Label>
                                </div>
                                <div class="col-12 md:col-6">
                                    <input disabled [value]="candidate.salaryExpectation" class="p-inputtext-sm font-bold" pInputText type="text">
                                </div>                           
                            </div>
                        </div>
                                           
                    </div>
                    <p-divider></p-divider>
                    <span class="text-lg font-bold">Resume</span>
                    <p-divider></p-divider>
                    <div class="grid">
                        <div class="col">
                            <div class="flex flex-row">
                                <div class="flex flex-column">
                                    <i class="pi pi-file-pdf" style="font-size: 3rem"></i>
                                    <span class="mx-2">PDF</span>
                                </div>
                                <div class="mx-3 mt-4">
                                    <div class="flex flex-column">
                                        <span class="font-bold text-base mb-1">Resume-{{candidate.name}}.pdf</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center">
                            <p-menu  #menu [model]="resumeMenuItems" [popup]="true">
                                
                            </p-menu>
                            <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)" styleClass="resume-menu-button"></p-button>                             
                        </div> 
                    </div>
                </ng-container>                
                <p-divider></p-divider>
             
                <ng-container *ngIf="assessment">
                    <div class="grid">
                        <div class="col-12 md:col-12">
                            <span class="font-bold text-lg">Assessement</span>
                            <p-divider></p-divider>
                        </div>                        
                    </div>
                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <span class="font-bold text-base">Contact Person</span>
                            <p-divider></p-divider>
                            <div class="grid">
                                <div class="col-12 md:col-3">
                                    <Label>Name</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input disabled 
                                        [value]="assessment.picName"
                                        class="p-inputtext-sm font-bold" 
                                        pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>Phone</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input
                                    [value]="assessment.picPhone"
                                    disabled class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>E-mail</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input 
                                    [value]="assessment.picEmail"
                                    disabled class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                            </div>                     
                        </div>
                        <div class="col-12 md:col-6">
                            <span class="font-bold text-base">Schedule</span>
                            <p-divider></p-divider>
                            <div class="grid">                            
                                <div class="col-12 md:col-3">
                                    <Label>Date & Time</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input
                                    placeholder="-"
                                    [value]="assessment.assessmentTime" 
                                    disabled class="p-inputtext-sm font-bold " pInputText type="text">
                                </div> 
                            </div>
                        </div>                    
                    </div>
                    <p-divider></p-divider>
                    <div class="grid">
                        <div class="col-12 md:col-6">               
                            <span class="font-bold text-base">Result</span>
                            <p-divider></p-divider>
                            <div class="grid">
                                <div class="col-12 md:col-3">
                                    <Label>Score</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input
                                    placeholder="-"
                                    [value]="assessment.assessmentScore"
                                     disabled class="p-inputtext-sm font-bold" pInputText type="text">
                                </div> 
                                <div class="col-12 md:col-3">
                                    <Label>Note</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input 
                                    placeholder="-"
                                    [value]="assessment.assessmentNote"
                                    disabled class="p-inputtext-sm font-bold" pInputText type="text">
                                </div>                            
                            </div>
                        </div>
                    </div>
                </ng-container>                
        </p-card>
    </div>
</div>

<!-- Insert Interview Modal -->
<p-dialog  header="Move to Interview" [(visible)]="visible" [modal]="true"  [draggable]="false" [resizable]="false">
    <p-calendar appendTo="body" dateFormat="yy-mm-dd" [showTime]="true" ></p-calendar>
</p-dialog>