<div class="grid">
    <div class="col-12 md:col-10 md:col-offset-1 mt-7 md:mt-7">
        <p-card header="Applicant Detail">
            <p-divider></p-divider>
            <ng-container *ngIf="candidate">
                <div class="grid">
                    <div class="col-12 md:col-2">
                        <div class="flex flex-column">
                            <img [style]="{width: '10rem', height: '10rem'}"
                                src="http://localhost:8080/admin/file/{{candidate.photoId}}" alt="">
                            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                            <p-button *ngIf="stageApplication" (click)="confirmMoveToAssessment()"
                                [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2"
                                styleClass="p-button-sm p-button-success justify-content-center">
                                <span class="text-xs font-bold ">Move to Assessement</span>
                            </p-button>
                            <p-button *ngIf="stageAssessement" (click)="insertInterviewModal()"
                                [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2"
                                styleClass="p-button-sm p-button-success justify-content-center">
                                <span class="text-xs font-bold">Move to Interview</span>
                            </p-button>
                            <p-button *ngIf="stageInterview" (click)="confirmMoveToMcu()"
                                [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2"
                                styleClass="p-button-sm p-button-success justify-content-center">
                                <span class="text-xs font-bold">Move to MCU</span>
                            </p-button>
                            <p-button *ngIf="stageMcu" (click)="insertOfferModal()"
                                [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2"
                                styleClass="p-button-sm p-button-success justify-content-center">
                                <span class="text-xs font-bold">Move to Offer</span>
                            </p-button>
                            <p-button *ngIf="stageOffer" (click)="confirmMoveToHired()"
                                [style]="{width: '10rem', height: '2.5rem'}" class="mt-2 md:mt-2"
                                styleClass="p-button-sm p-button-success justify-content-center">
                                <span class="text-xs font-bold">Move to Hired</span>
                            </p-button>
                        </div>
                    </div>
                    <div class="col-12 md:col-5">
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>NIK</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="candidate.nik" class="p-inputtext-sm font-bold" pInputText
                                    type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Name</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="candidate.name" class="p-inputtext-sm font-bold " pInputText
                                    type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>E-mail</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="candidate.email" class="p-inputtext-sm font-bold" pInputText
                                    type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Phone</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="candidate.phone" class="p-inputtext-sm font-bold" pInputText
                                    type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-5">
                        <div class="grid">
                            <div class="col-12 md:col-4">
                                <Label>Birth Date</Label>
                            </div>
                            <div class="col-12 md:col-6">
                                <input disabled [value]="candidate.birthDate" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-4">
                                <Label>Birth Place</Label>
                            </div>
                            <div class="col-12 md:col-6">
                                <input disabled [value]="candidate.birthPlace" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-4">
                                <Label>Experience Year</Label>
                            </div>
                            <div class="col-12 md:col-6">
                                <input disabled [value]="candidate.experienceYear" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-4">
                                <Label>Salary Expectation</Label>
                            </div>
                            <div class="col-12 md:col-6">
                                <input disabled [value]="candidate.salaryExpectation" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                        </div>
                    </div>

                </div>
                <p-divider></p-divider>
                <span class="text-lg font-bold">Resume</span>
                <p-divider></p-divider>
                <div class="grid">
                    <div class="col">
                        <div class="flex flex-row">
                            <div class="flex flex-column">
                                <i class="pi pi-file-pdf" style="font-size: 3rem"></i>
                                <span class="mx-2">PDF</span>
                            </div>
                            <div class="mx-3 mt-4">
                                <div class="flex flex-column">
                                    <span class="font-bold text-base mb-1">Resume-{{candidate.name}}.pdf</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <p-menu #menu [model]="resumeMenuItems" [popup]="true">

                        </p-menu>
                        <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"
                            styleClass="resume-menu-button"></p-button>
                    </div>
                </div>
            </ng-container>
            <p-divider></p-divider>

            <ng-container *ngIf="assessment">
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-lg">Assessement</span>
                        <p-divider></p-divider>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-base">Contact Person</span>
                        <p-divider></p-divider>
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Name</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="assessment.picName" class="p-inputtext-sm font-bold" pInputText
                                    type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Phone</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="assessment.picPhone" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>E-mail</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="assessment.picEmail" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-base">Schedule</span>
                        <p-divider></p-divider>
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Date & Time</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="assessment.assessmentTime" disabled
                                    class="p-inputtext-sm font-bold " pInputText type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-base">Result</span>
                        <p-divider></p-divider>
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Score</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="assessment.assessmentScore" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Note</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="assessment.assessmentNote" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <p-divider></p-divider>

            <ng-container *ngIf="interview">
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-lg">Interview</span>
                        <p-divider></p-divider>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-base">Contact Person</span>
                        <p-divider></p-divider>
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Name</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="assessment.picName" class="p-inputtext-sm font-bold" pInputText
                                    type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Phone</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="assessment.picPhone" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>E-mail</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="assessment.picEmail" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-base">Detail</span>
                        <p-divider></p-divider>
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Venue</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="interview.interviewVenue" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Location</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="interview.interviewLocation" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Note</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="interview.interviewNote" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Date & Time</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="interview.interviewTime" disabled
                                    class="p-inputtext-sm font-bold " pInputText type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
            </ng-container>
            <ng-container *ngIf="applicantDetail.mcu">
                <div class="grid" *ngIf="!hasMedical">
                    <div class="col-12 md:col-6">
                        <span class="font-bold text-lg">Medical</span>
                    </div>
                    <div class="col-12 md:col-6">
                        <p-button type="submit" (click)="insertMedicalModal()" icon="pi pi-plus" label="Add Medical"
                            styleClass="p-button-primary p-button-sm"></p-button>
                    </div>
                </div>
                <div class="grid" *ngIf="hasMedical">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-lg">Medical</span>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="grid" *ngIf="hasMedical">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-base">Detail</span>
                        <p-divider></p-divider>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Location</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="medical.medicalLocation" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Date</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="medical.medicalDate" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Notes</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input [value]="medical.medicalNotes" disabled class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
            </ng-container>
            <ng-container *ngIf="applicantDetail.offer">
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-lg">Offer</span>
                        <p-divider></p-divider>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-12">
                        <span class="font-bold text-base">Detail</span>
                        <p-divider></p-divider>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="grid">
                            <div class="col-12 md:col-3">
                                <Label>Name</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input disabled [value]="offers.offerPicName" class="p-inputtext-sm font-bold"
                                    pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Salary Offer</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="offers.offerSalary" disabled
                                    class="p-inputtext-sm font-bold" pInputText type="text">
                            </div>
                            <div class="col-12 md:col-3">
                                <Label>Date & Time</Label>
                            </div>
                            <div class="col-12 md:col-7">
                                <input placeholder="-" [value]="offers.offerTime" disabled
                                    class="p-inputtext-sm font-bold " pInputText type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
            </ng-container>
        </p-card>
    </div>
</div>

<!-- Insert Interview Modal -->
<p-dialog header="Move to Interview" [style]="{width: '50vw'}" [(visible)]="visible" [modal]="true" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="interviewReqDto" (ngSubmit)=onAddInterview()>
        <div class="grid">
            <div class="col-12 md:col-3">
                <Label>Interview Venue</Label>
            </div>
            <div class="col-12 md:col-9">
                <p-dropdown formControlName="interviewVenue" [options]="venues" placeholder="Venues"></p-dropdown>
            </div>
            <div class="col-12 md:col-3">
                <Label>Interview Location</Label>
            </div>
            <div class="col-12 md:col-9">
                <input formControlName="interviewLocation" class="p-inputtext-sm" pInputText type="text">
            </div>
            <div class="col-12 md:col-3">
                <Label>Interview Date</Label>
            </div>
            <div class="col-12 md:col-9">
                <p-calendar formControlName="interviewTime" dataType="string" [(ngModel)]="interviewDate"
                    (onSelect)="onSelectDate()" appendTo="body" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
            </div>
            <div class="flex flex-row-reverse">
                <p-button type="submit" icon="pi pi-plus" label="Submit"
                    styleClass="p-button-primary p-button-sm"></p-button>
            </div>
        </div>
    </form>
    <pre>{{interviewReqDto.value | json}}</pre>
</p-dialog>
<p-dialog header="Insert Medical" [style]="{width: '50vw'}" [(visible)]="medicalVisible" [modal]="true"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="medicalReqDto" (ngSubmit)=onAddMedical()>
        <div class="grid">
            <div class="col-12 md:col-3">
                <Label>Medical Location</Label>
            </div>
            <div class="col-12 md:col-9">
                <input formControlName="medicalLocation" class="p-inputtext-sm" pInputText type="text">
            </div>
            <div class="col-12 md:col-3">
                <Label>Medical Date</Label>
            </div>
            <div class="col-12 md:col-9">
                <p-calendar formControlName="medicalDate" dataType="string" [(ngModel)]="medicalDate"
                    (onSelect)="onSelectDate()" appendTo="body" dateFormat="yy-mm-dd" [showTime]="false"></p-calendar>
            </div>

            <div class="col-12 md:col-3">
                <Label>Medical Notes</Label>
            </div>
            <div class="col-12 md:col-9">
                <input formControlName="medicalNotes" class="p-inputtext-sm" pInputText type="text">
            </div>
            <div class="col-12 md:col-3">
                <Label>Medical File</Label>
            </div>
            <div class="col-12 md:col-9">
                <div class="col-12 md:col-7">
                    <p-fileUpload mode="basic" [auto]="true" chooseLabel="Browse" #file
                        (onSelect)="fileUploadMedical($event,file)"></p-fileUpload>
                </div>
            </div>
            <div class="flex flex-row-reverse">
                <p-button type="submit" icon="pi pi-plus" label="Submit"
                    styleClass="p-button-primary p-button-sm"></p-button>
            </div>
        </div>
    </form>
    <pre>{{medicalReqDto.value | json}}</pre>
</p-dialog>
<p-dialog header="Insert Offer" [style]="{width: '50vw'}" [(visible)]="offerVisible" [modal]="true" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="offeringReqDto" (ngSubmit)=onAddOffer()>
        <div class="grid">
            <div class="col-12 md:col-3">
                <Label>Salary Offer</Label>
            </div>
            <div class="col-12 md:col-9">
                <input formControlName="offerSalary" class="p-inputtext-sm" pInputText type="text">
                <div class="flex flex-row-reverse">
                    <p-button type="submit" [disabled]="offeringReqDto.invalid" label="Submit"
                        styleClass="p-button-primary p-button-sm"></p-button>
                </div>
            </div>
        </div>
    </form>
    <pre>{{offeringReqDto.value | json}}</pre>
</p-dialog>