
    <div class="grid">
        <div class="col-12 md:col-6 md:col-offset-3 mt-8 md:mt-8">
            <p-panel header="Change Password" > 
                <div class="grid mt-3 md:mt-3">
                    <div class="col-12 md:col-3 md:col-offset-2 ">
                        <label>Old Password</label>
                    </div>
                    <div class="col-12 md:col-7">
                        <input type="text" pInputText>
                    </div>

                    <div class="col-12 md:col-3 md:col-offset-2">
                        <label>New Password</label>
                    </div>
                    <div class="col-12 md:col-7">
                        <input type="text" pInputText>
                    </div>

                    <div class="col-12 md:col-3 md:col-offset-6 mt-3 md:mt-3">
                        <p-button label="Submit"></p-button>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>

