<div class="grid">
    <div class="col-8 col-offset-2">
        <h1 class="p-3">My Applications</h1>
        <p-tabMenu [model]="items"></p-tabMenu>


    </div>
    <div class="col-8 col-offset-2 mt-2">
        <div class="flex flex-row">
            <p-avatar image="https://i.pinimg.com/originals/bb/8f/54/bb8f5433977c4c386a5d562946623b5a.png"
                styleClass="mr-2" shape="circle"></p-avatar>
            <div class="flex flex-column mx-2">
                <p-badge value="Applied" severity="info"></p-badge>
                <span class="mt-2 font-bold text-xl">
                    IT (Programmer/Developer)
                </span>
                <span class="text-lg">PT KAI</span>
                <span class="text-lg">Salatiga</span>
                <span class="text-sm text-color-secondary">Applied on 4 July</span>
            </div>
        </div>
        <p-divider></p-divider>
    </div>
    <!-- DUMMY -->
    <div class="col-8 col-offset-2 mt-2">
        <div class="flex flex-row">
            <p-avatar image="https://seeklogo.com/images/K/koperasi_indonesia-logo-4A2E56CEA6-seeklogo.com.png"
                styleClass="mr-2" shape="circle"></p-avatar>
            <div class="flex flex-column mx-2">
                <p-badge value="Applied" severity="info"></p-badge>
                <span class="mt-2 font-bold text-xl">
                    IT (Frontend Developer)
                </span>
                <span class="text-lg">Koperasi Indonesia</span>
                <span class="text-lg">Jakarta</span>
                <span class="text-sm text-color-secondary">Applied on 6 July</span>
            </div>
        </div>
        <p-divider></p-divider>
    </div>
</div>