<div class="grid">
    <div class="col-12 md:col-10 md:col-offset-1 mt-7 md:mt-7">
        <a routerLink="/admin/company" style="text-decoration: none;">
            <div class="flex flex-row mt-3 md:mt-3 mb-3 md:mb-3 text-color-secondary">
                <i class="pi pi-angle-left" style="font-size: 1.5rem"></i>
                <span class="text-lg font-bold">
                    Back
                </span>
            </div>
        </a>
        <p-card header="Add Company">
            <form [formGroup]="companyInsertReqDto" (ngSubmit)="onAdd()">
                <div class="col-12 flex flex-row-reverse">
                    <p-button type="submit" icon="pi pi-save" label="Save"
                        styleClass="p-button-sm"></p-button>
                    <p-button class="mx-2" routerLink="/admin/company" icon="pi pi-times" label="Cancel"
                        styleClass="p-button-sm"></p-button>
                </div>
                <p-divider></p-divider>
                <div class="grid text-base">
                    <div class="col-12 md:col-6">
                        <div class="flex flex-column">
                            <div class="grid">
                                <div class="col-12 md:col-3">
                                    <Label>Name</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <input formControlName="companyName" class="p-inputtext-sm" pInputText type="text">
                                </div>
                                <div class="col-12 md:col-3">
                                    <Label>Description</Label>
                                </div>
                                <div class="col-12 md:col-9">
                                    <input formControlName="companyDesc" class="p-inputtext-sm" pKeyFilter="int" pInputText type="text">
                                </div>
                                <div class="col-12 md:col-3">
                                    <Label>Tax Number</Label>
                                </div>
                                <div class="col-12 md:col-9">
                                    <input formControlName="companyTaxNumber" class="p-inputtext-sm" pKeyFilter="int" pInputText type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="flex flex-column">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <Label>Logo</Label>
                                </div>
                                <div class="col-12 md:col-7">
                                    <p-fileUpload  mode="basic" name="demo[]"
                                        url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true"
                                        chooseLabel="Browse" (onSelect)="fileUploadLogo($event)"></p-fileUpload>
                                </div>
                                <div class="col-12 md:col-4">
                                    <Label>Banner</Label>
                                </div>
                                <div class="col-12 md:col-7">
    
                                    <p-fileUpload  mode="basic" name="demo[]"
                                        url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true"
                                        chooseLabel="Browse" (onSelect)="fileUploadBanner($event)"></p-fileUpload>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>